.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: var(--radius);
  background: var(--blue);
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: var(--blue-active);
  }
}
