.home {
  display: grid;
  gap: 32px;
  max-width: 768px;
  margin: 0 auto;

  &__title {
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__error {
    color: var(--error);
    font-size: 16px;
  }
}
